# ide
/.idea

# dependencies
/node_modules

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# testing
/.swc
/coverage
__snapshots__

#pocketbase
/pb_data
/pb_hooks
/pb_migrations

# logs
*.log

# lock
yarn.lock
package-lock.json

/templates/astro